footer
  .footer-content.container.d-flex.justify-content-center.mt-5.pb-4
    a.btn.btn-gray.btn-lg.footer-link(href='https://www.tiktok.com/@artem_zitero') тик ток
    a.btn.btn-gray.btn-lg.footer-link(href='https://www.youtube.com/@zitero1/videos') ютуб
    a.btn.btn-gray.btn-lg.footer-link(href='https://www.instagram.com/_zitero_/') инстаграм
